<a href="https://colab.research.google.com/github/FelipeVillegasH/Tareas_coding_dojo/blob/main/Practica_pandas_import_filter_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tarea cargado y filtrado de datos
## Por: Felipe Villegas
## Fecha de creacion: 12.01.2022
# Descripcion:operaciones basicas de filtrado, y analisis de bases de datos con pandas

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')
# partimos por poner a disposicion los datos de nuestro drive para que colab los pueda usar

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import pandas as pd
# importamos la libreria pandas para el analisis de datos

In [ ]:
# Load Data 
df = pd.read_excel('/content/drive/MyDrive/CodingDojo/tareas/practicas/semana2/RailsToTrails_National_Count_Data_week.xlsx')
# Tomese en cuenta que es preferible desde el colab copiar el path en lugar de estar adivinando cual es desde las agrupaciones en drive

In [ ]:
df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

In [ ]:
df.dtypes
# devuelve el tipo de datos de cada variable (column)

Timeframe                             object
Week of                       datetime64[ns]
 2019 counts (31 counters)             int64
 2020 counts (31 counters)             int64
2021 Counts                          float64
Change 2019-2020                     float64
Unnamed: 6                           float64
Unnamed: 7                           float64
Unnamed: 8                           float64
Unnamed: 9                           float64
dtype: object

In [ ]:
df.shape
#devuelve las filas (objetos) y columnas (variables) en formato: (rows,columns)

(52, 10)

In [ ]:
df.info()
# nota poner siempre los parentesis despues sino da el resultado de evaluar todas las rows una por una 
# devuelve los valores validos, o los non-null en terminos de columnas, por lo que se debe comparar unas columnas con las otras 
# para identificar, en base a la columna que tenga los datos completos, cual es la que carece de informacion

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     int64
 3    2020 counts (31 counters)  52 non-null     int64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            52 non-null     float64
 6   Unnamed: 6                  52 non-null     float64
 7   Unnamed: 7                  0 non-null      float64
 8   Unnamed: 8                  1 non-null      float64
 9   Unnamed: 9                  1 non-null      float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 4.2+ KB

In [ ]:
df

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0     Week 1 2020-12-30  ...         NaN         NaN
1     Week 2 2020-01-06  ...         NaN         NaN
2     Week 3 2020-01-13  ...         NaN         NaN
3     Week 4 2020-01-20  ...         NaN         NaN
4     Week 5 2020-01-27  ...         NaN         NaN
5     Week 6 2020-02-03  ...         NaN         NaN
6     Week 7 2020-02-10  ...         NaN         NaN
7     Week 8 2020-02-17  ...         NaN         NaN
8     Week 9 2020-02-24  ...         NaN         NaN
9    Week 10 2020-03-02  ...         NaN         NaN
10   Week 11 2020-03-09  ...         NaN         NaN
11   Week 12 2020-03-16  ...         NaN         NaN
12   Week 13 2020-03-23  ...         NaN         NaN
13   Week 14 2020-03-30  ...         NaN         NaN
14   Week 15 2020-04-06  ...         NaN         NaN
15   Week 16 2020-04-13  ...         NaN         NaN
16   Week 17 2020-04-20  ...         NaN         NaN
17   Week 18 2020-04-27  ...         NaN         NaN
18   Week 19 2020-05-04  ...         NaN         NaN
19   Week 20 2020-05-11  ...         NaN         NaN
20   Week 21 2020-05-18  ...         NaN         NaN
21   Week 22 2020-05-25  ...         NaN         NaN
22   Week 23 2020-06-01  ...         NaN         NaN
23   Week 24 2020-06-08  ...         NaN         NaN
24   Week 25 2020-06-15  ...         NaN         NaN
25   Week 26 2020-06-22  ...         NaN         NaN
26   Week 27 2020-06-29  ...         NaN         NaN
27   Week 28 2020-07-06  ...         NaN         NaN
28   Week 29 2020-07-13  ...         NaN         NaN
29   Week 30 2020-07-20  ...         NaN         NaN
30   Week 31 2020-07-27  ...         NaN         NaN
31   Week 32 2020-08-03  ...         NaN         NaN
32   Week 33 2020-08-10  ...         NaN         NaN
33   Week 34 2020-08-17  ...         NaN         NaN
34   Week 35 2020-08-24  ...         NaN         NaN
35   Week 36 2020-08-31  ...         NaN         NaN
36   Week 37 2020-09-07  ...         NaN         NaN
37   Week 38 2020-09-14  ...         NaN         NaN
38   Week 39 2020-09-21  ...         NaN         NaN
39   Week 40 2020-09-28  ...         NaN         NaN
40   Week 41 2020-10-05  ...         NaN         NaN
41   Week 42 2020-10-12  ...         NaN         NaN
42   Week 43 2020-10-19  ...         NaN         NaN
43   Week 44 2020-10-26  ...         NaN         NaN
44   Week 45 2020-11-02  ...         NaN         NaN
45   Week 46 2020-11-09  ...         NaN         NaN
46   Week 47 2020-11-16  ...         NaN         NaN
47   Week 48 2020-11-23  ...         NaN         NaN
48   Week 49 2020-11-30  ...         NaN         NaN
49   Week 50 2020-12-07  ...         NaN         NaN
50   Week 51 2020-12-14  ...         NaN         NaN
51   Week 52 2020-12-21  ...   26.728808    0.514016

[52 rows x 10 columns]

In [ ]:
# definimos la variable de filtro
filteruptojuly= df['Week of']> '2020-06-29'
# tome en cuenta que se deben poner los corchetes excluyendo la condicion
# se debe tomar en cuenta que no se puede escribir la fecha 2020-06-31 requerida en la inficacion del ejercicio porque nos devolver'a error 
# al no existir dicha fecha en la base de datos, por lo que se debe procurar buscar en la base la fecha mas cercana y tomarla como base de referencia 
# por esta razon ponemos > y no >=
filteruptojuly
# esto imprime los resultados en True or False (booleans)
# para imprimir la tabla debemos asignar una variable que utilice esta condicion para reescribir la tabla
# cabe recalcar el valor atipico al inicio de la tabla con fecha de diciembre y por lo tanto, sale True

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
46     True
47     True
48     True
49     True
50     True
51     True
Name: Week of, dtype: bool

In [ ]:
# aplicamos variable de filtro en un nuevo dataframe
df_upto_july= df[filteruptojuly]
df_upto_july
# una vez generada la variable que nos imprime la nueva tabla filtrada procedemos a copiar el nombre en la linea subsiguiente para imprimirla y revisar

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0     Week 1 2020-12-30  ...         NaN         NaN
27   Week 28 2020-07-06  ...         NaN         NaN
28   Week 29 2020-07-13  ...         NaN         NaN
29   Week 30 2020-07-20  ...         NaN         NaN
30   Week 31 2020-07-27  ...         NaN         NaN
31   Week 32 2020-08-03  ...         NaN         NaN
32   Week 33 2020-08-10  ...         NaN         NaN
33   Week 34 2020-08-17  ...         NaN         NaN
34   Week 35 2020-08-24  ...         NaN         NaN
35   Week 36 2020-08-31  ...         NaN         NaN
36   Week 37 2020-09-07  ...         NaN         NaN
37   Week 38 2020-09-14  ...         NaN         NaN
38   Week 39 2020-09-21  ...         NaN         NaN
39   Week 40 2020-09-28  ...         NaN         NaN
40   Week 41 2020-10-05  ...         NaN         NaN
41   Week 42 2020-10-12  ...         NaN         NaN
42   Week 43 2020-10-19  ...         NaN         NaN
43   Week 44 2020-10-26  ...         NaN         NaN
44   Week 45 2020-11-02  ...         NaN         NaN
45   Week 46 2020-11-09  ...         NaN         NaN
46   Week 47 2020-11-16  ...         NaN         NaN
47   Week 48 2020-11-23  ...         NaN         NaN
48   Week 49 2020-11-30  ...         NaN         NaN
49   Week 50 2020-12-07  ...         NaN         NaN
50   Week 51 2020-12-14  ...         NaN         NaN
51   Week 52 2020-12-21  ...   26.728808    0.514016

[26 rows x 10 columns]

In [ ]:
# un vez mas definimos la varible que contiene el filtro a usar 
change1 = df_upto_july['Change 2019-2020'] > 1  
# NOTA : no poner los integers entre comillas, distinguir entre strings, floats, integers, and so on 
# ya que de ponerlos entre comillas asi: change1 = df_upto_july['Change 2019-2020'] > '1'  nos devolvera error

In [ ]:
df_change_grater_a_1_y_upto_july= df_upto_july[change1]
df_change_grater_a_1_y_upto_july
# therefore there is not change greather than 100%

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []